/*
 *
 * Default styles standardization
 *
 */

 body,
 html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
   margin: 0;
 }

 img,
 embed,
 object,
 video {
   max-width: 100%;
 }

 body,
 header,
 nav,
 main,
 footer,
 section,
 article,
 div {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
  padding: 0;
  background: none;
  cursor: pointer;
 }

 /*
 *
 * Common
 *
 */

body,
input,
select,
textarea {
  font-family: Quicksand;
  font-size: 16px;
  padding: 4px;
}

button {
  padding: 4px 8px;
  border: 1px solid #dce0e0;
  border-radius: 4px;
}

body {
  color: #424242;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  border-top: 1px solid #a5a5a2;
  padding: 10px;
  text-align: right;
}

/*
 *
 * Nav
 *
 */

nav {
  border-bottom: 1px solid #dce0e0;
  padding: 12px 0px;
  align-items: center;
}

nav .title_box {
  display: flex;
}

nav .title_box h1 {
  padding: 0;
  padding-left: 8px;
}

nav .title_box .menu_icon {
  display: block;
  padding: 8px;
}

nav .title_box .attribution_text {
  font-size: 12px;
  padding: 0 8px;
  display: block;
}

nav .search_form {
  padding: 4px;
  flex: 1;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  display: flex;
}

nav .search_form .search_box {
  display: flex;
}

nav .search_form .search_box input[name="address"] {
  flex: 1;
}

nav .search_form .distance_box {
  margin: 8px 12px 8px 0;
}

/*
 *
 * Main
 *
 */

main {
  display: flex;
}

main .places_box {
  width: 400px;
  border-right: 1px solid #dce0e0;
  display: flex;
  flex-direction: column;
}

main .places_box.hidden {
  display: none;
}

main .places_box .search_filter_text {
  padding: 8px;
}

main .places_box .places {
  overflow: auto;
}

main .places_box .places .place {
  padding: 4px 8px;
  cursor: pointer;
}

main .places_box .places .place:hover {
  background-color: #dce0e0;
}

main .places_box .places .place.selected {
  font-weight: bold;
  background-color: #dce0e0;
}

main .filter_form {
  display: flex;
  padding: 4px;
}

main .filter_form input {
  flex: 1;
  max-width: 400px;
}

main .map {
    height: 100%;
    flex: 1;
}

main .map .info_window_box {
  padding: 20px 0 20px 20px;
  text-align: center;
}

main .map .info_window_box img {
  max-height: 280px;
}

main .map .info_window_box .open_now {
  color: #35ac19;
}

main .loading_overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .loading_overlay img {
  max-width: 40px;
}
