nav .search_form {
    flex-direction: row;
}

nav .search_form .search_box input[name="address"] {
    width: 400px;
}

main .places_box.hidden {
    display: flex;
}
  
nav .title_box .menu_icon {
    display: none;
}